# Coursera Assignment Notebook

## Introduction
This is a jupyter notebook to store my whole assignment.

### Data Science Languages
* Python
* R
* SQL
* Julia
* MATLAB
* Scala
* SAS

### Data Science libraries
* NumPy
* Pandas
* Scikit-learn
* TensorFlow
* Keras
* PyTorch
* Matplotlib
* Seaborn
* Plotly
* SciPy

| Language      | Libraries/Frameworks        | Visualization Tools    | Database Tools   |
|---------------|-----------------------------|------------------------|------------------|
| Python        | NumPy, Pandas, scikit-learn | Matplotlib, Plotly     | SQL, SQLite      |
| R             | dplyr, ggplot2              | ggplot2, Plotly        | MySQL, PostgreSQL|
| SQL           | -                           | -                      | MySQL, PostgreSQL|
| Julia         | Flux, MLJ                   | Plots, VegaLite        | -                |
| MATLAB        | -                           | MATLAB Visualization  | -                |
| Scala         | Spark MLlib, Breeze         | Spark Visualization    | Apache Cassandra |
| SAS           | SAS/STAT, SAS/IML           | SAS Visual Analytics   | SAS/ACCESS       |

### Arithmetic Expressions Examples:

Arithmetic expressions are mathematical expressions that involve mathematical operations like addition, subtraction, multiplication, and division. Here are some examples of arithmetic expressions:

1. Addition:
   - `2 + 3` equals 5
   - `7.5 + 2.1` equals 9.6

2. Subtraction:
   - `10 - 4` equals 6
   - `5.7 - 2.3` equals 3.4

3. Multiplication:
   - `3 * 4` equals 12
   - `2.5 * 1.8` equals 4.5

4. Division:
   - `10 / 2` equals 5
   - `7.5 / 2.5` equals 3

In [1]:
# Multiply and Add Numbers
number1 = 5
number2 = 3

# Multiplication
product = number1 * number2
print("Product:", product)

# Addition
sum = number1 + number2
print("Sum:", sum)

Product: 15
Sum: 8

In [2]:
# Convert Minutes to Hours
minutes = 150

# Conversion
hours = minutes / 60

# Display the result
print("Minutes:", minutes)
print("Hours:", hours)

Minutes: 150
Hours: 2.5

### Objectives

- Gain a strong understanding of data science concepts and techniques.
- Learn to analyze and visualize data effectively.
- Develop skills in machine learning and predictive modeling.

# Author - Yash Sarang.